<div class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-900">
  <div class="max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-8 flex-grow overflow-y-auto">
    

  <!-- Logo -->
        <div class="flex justify-center mb-8">
            <%= render "shared/logo" %>
        </div>

    <div class="w-full bg-gray-100 dark:bg-gray-900 py-2 text-center -mt-8">
    <span class="space-x-4">
        <%= link_to "[ new scan ]", root_path, class: "text-gray-600 dark:text-gray-400 hover:text-purple-500 dark:hover:text-purple-400" %>
        <%= link_to "[ statistics ]", stats_scan_index_path, class: "text-gray-600 dark:text-gray-400 hover:text-purple-500 dark:hover:text-purple-400" %>
        <%= link_to "[ github ]", "https://github.com/markkcc/crxaminer", target: "_blank", class: "text-gray-600 dark:text-gray-400 hover:text-purple-500 dark:hover:text-purple-400" %>
    </span>
    </div>

    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 mb-6">
        <div class="flex items-center space-x-4 mb-4">
         <div>
            <h1 class="text-2xl font-bold text-gray-700 dark:text-gray-200">
            Statistics
            </h1>
            
            <p class="text-gray-600 dark:text-gray-300">
                <%= Time.current.strftime("%B %d, %Y %I:%M %p") %>
            </p>

         </div>
        </div>
        
        <div class="border-t border-gray-200 dark:border-gray-700 pt-4 mb-6">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
            <p class="text-gray-600 dark:text-gray-300">
            Coming soon: Statistics table.
            </p>
        </div>
        </div>
    </div>


  </div>
</div>